h1,
h2,
h3,
h4,
li,
p {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}
p {
  font-size: 22px;
  line-height: 1.5;
}
h3 {
  font-size: 30px;
}
li {
  font-size: 20px;
}
h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
/* footer p {
  font-size: 13px;
} */
/* article header p {
  font-style: italic;
} */
#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 16px;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
.related {
  list-style: none;
}
